.ul_links {
    display: flex;
    align-items: center;
    gap: 20px;

    li {
        list-style: none;
    }
}

.links {
    padding: 5px;
    text-decoration: none;
    transition: ease 0.26s;
    color: rgb(11, 11, 37);
    border-bottom: 3px solid transparent;
    border-radius: 2px;
    list-style: none;
    padding-bottom: 1.5px;
    font-weight: 600;
    font-size: 1.3rem;
}

.links:hover {
    border-bottom: 3px solid rgb(140, 140, 255);
}

.link_login {
    transition: ease 0.2s;
    border-radius: 6px;
    text-shadow: 1px 1px 1px rgba(19, 3, 18, 0.63);
    background-color: rgb(153, 153, 255);
    border: 1px solid rgba(0, 0, 0, 0.452);
    padding: 10px 15px;
    color: white;
}

.link_register {
    transition: ease 0.2s;
    border: 1px solid rgba(18, 17, 34, 0.226);
    background-color: rgb(101, 101, 250);
    padding: 10px 15px;
    border-radius: 6px;
    color: white;
}
.link_login:hover, .link_register:hover {
    background-color: rgb(71, 71, 196);
}

.active {
    background-color: rgba(67, 63, 78, 0.438);
}

.menu_burguer {
    display: none;
}

.logout_btn {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 550;
    font-size: 1.2rem;
    letter-spacing: 1px;
    border-bottom: 4px solid transparent;
    color: white;
    background-color: black;
    transition: 0.18s;
}

.logout_btn:hover {
    border-bottom: 4px solid orange;
    background-color: rgb(48, 40, 53);
}




@media screen and (max-width: 768px) {

    .menu_burguer {
        display: flex;
        cursor: pointer;
    }

    .ul_links {
        gap: 10px;
        flex-flow: column nowrap;
    }

    .menu_on {
        position: fixed;
        display: flex;
        top: 3%;
        left: 70%;
    }

    
    
    .menu_off {
        display: none;
    }
}