

.ul_links {
    display: flex;
    gap: 20px;

    li {
        list-style: none;
    }
}

.links {
    padding: 5px;
    text-decoration: none;
    transition: ease 0.2s;
    color: rgb(11, 11, 37);
    border-bottom: 2px solid transparent;
    border-radius: 2px;
    list-style: none;
    padding-bottom: 1.5px;
    font-weight: 600;
    font-size: 1.1rem;
}

.links:hover {
    border-bottom: 2px solid rgb(140, 140, 255);
    color: rgb(3, 3, 10);
}

.active {
    background-color: rgba(67, 63, 78, 0.438);
}

.menu_burguer {
    display: none;
}




@media screen and (max-width: 768px) {

    .menu_burguer {
        display: flex;
        cursor: pointer;
    }

    .ul_links {
        gap: 10px;
        flex-flow: column nowrap;
    }

    .menu_on {
        position: fixed;
        display: flex;
        top: 3%;
        left: 70%;
    }

    
    
    .menu_off {
        display: none;
    }
}